@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Lexend Deca", sans-serif; */
}

/* ================NAV SECTION================== */

body {
  /* display: flex;
  justify-content: center; */
  margin: 0 auto;
  max-width: 1441px;
}

nav {
  border: 2px solid green;
  width: 1441px;
  background-color: #daf5f0;
  border-bottom: 1px solid #000000;
  font-family: "Lexend Deca", sans-serif;
  position: sticky;
  top: 0;
}

.nav_con {
  /* border: 2px solid red; */
  max-width: 1185px;
  margin: 17px 128px;
  display: flex;
  align-items: center;
  background-color: #daf5f0;
  justify-content: space-between;
}

.nav_a {
  width: 899px;
  display: flex;
  justify-content: space-between;
}

.nav_links {
  width: 518px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_links a {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}

.nav_links a.active {
  border-bottom: 2px solid #000000;
}

.nav_links a:hover {
  border-bottom: 2px solid #000000;
}

.nav_but {
  background-color: #fbaf41;
  padding: 17px 34px;
  border-radius: 7px;
  border: 3px solid #000000;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 5px 5px 0 0 #000000;
}

/* ==========================HEADER/HERO SECTION============================= */

header {
  display: flex;
  align-items: center;
  border-bottom: 3px solid #000000;
  border-top: 3px solid #000000;
  background-color: #daf5f0;
}

.hero {
  margin-left: 132px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.hero_text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero_text h1 {
  font-size: 44px;
  font-weight: 700;
  line-height: 72.38px;
  padding-right: 20px;
  font-family: "Lexend Deca", sans-serif;
}

.hero_text h1 span {
  color: #fbaf41;
}

.hero_text p {
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  column-rule-color: #000000;
  padding-right: 20px;
  font-family: "Public Sans", sans-serif;
}

.nav_butt {
  background-color: #fbaf41;
  width: 181px;
  padding: 17px 34px;
  border-radius: 7px;
  border: 3px solid #000000;
  font-size: 20px;
  font-weight: 500;
  box-shadow: 5px 5px 0 0 #000000;
  font-family: "Lexend Deca", sans-serif;
}

/* =================================INFO SECTION===================================== */

.alone {
  /* border: 2px solid red; */
  background-color: #fbaf41;
  border-bottom: 3px solid #000000;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #000000;
  font-family: "Lexend Deca", sans-serif;
}

.alone h2 {
  font-size: 44px;
  font-weight: 700;
  color: #000000;
  margin: 70px 0;
}

/* =================================PURPLE===================================== */

.purple {
  background-color: #c4a1ff;
  padding: 80px 0;
  border-bottom: 4px solid #000000;
}

.all_boxes {
  /* border: 3px solid yellow; */
  width: 1179px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.all_boxes h3 {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  font-family: "Lexend Deca", sans-serif;
}

.three_boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 110px;
}

.each_box {
  background-color: #ffffff;
  padding: 22px 30px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  align-items: center;
  border: 4px solid #000000;
  border-radius: 8px;
  box-shadow: 11px 11px 0px 0px #000000;
  border: 2px solid red;
}

.each_box div {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.each_box h4 {
  font-size: 28px;
  font-weight: 400;
  color: #000000;
  font-family: "Lexend Deca", sans-serif;
}

.each_box p {
  font-size: 17px;
  font-weight: 400;
  color: #000000;
  line-height: 25.5px;
  padding: 0 18px;
}

/* =================================GEAR===================================== */

.gear {
  background-color: #daf5f0;
  display: flex;
  align-items: center;
  border-bottom: 3px solid #000000;
}

.gear img {
  border-right: 2px solid #000000;
  padding: 158px 35px 158px 158px;
}

.gear_text {
  width: 664px;
  display: flex;
  flex-direction: column;
  gap: 71px;
  margin-left: 21px;
}

.gear_text p {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  line-height: 37.5px;
  font-family: "Lexend Deca", sans-serif;
}

.gear_text ul {
  margin-left: 40px;
  /* border: 2px solid green; */
}

.gear_text ul li {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  font-family: "Public Sans", sans-serif;
}

/* =================================BLOG===================================== */

.grid {
  /* border: 2px solid red; */
  background-color: #f5f5dc;
  padding: 69px 0;
  border-bottom: 3px solid #000000;
  /* text-align: center; */
}

.grid_con {
  width: 1183px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 56px;
}

.grid_con h3 {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
}

.all_cards {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: start;
}

.cardsec_1,
.cardsec_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
}

.each_card {
  border: 2px solid #000000;
  width: 369px;
  border-radius: 8px;
}

.each_card:hover {
  box-shadow: 11px 11px 0px 0px #000000;
}

.img_boy .boy {
  border-bottom: 3px solid #000000;
  width: 366px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.img_boy {
  height: 277px;
}

.each_card img {
  border-bottom: 3px solid #000000;
}

.lower_card1,
.lower_card2,
.lower_card3,
.lower_card4,
.lower_card5,
.lower_card6 {
  /* background-color: #c4a1ff; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-family: "Public Sans", sans-serif;
}

.lower_card1,
.lower_card5 {
  background-color: #c4a1ff;
}

.lower_card2,
.lower_card6 {
  background-color: #fbaf41;
}

.lower_card3,
.lower_card4 {
  background-color: #daf5f0;
}

.time_card {
  width: 224px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender,
.clock {
  display: flex;
  justify-content: start;
  gap: 6px;
  align-items: center;
}

.calender p,
.clock p {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
}

.card_text {
  /* margin-top: 16px; */
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

.card_text h4 {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

.card_text p {
  font-size: 12px;
  font-weight: 400;
  color: #000000;
  line-height: 18px;
  padding-right: 28px;
}

.card_views {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views {
  display: flex;
  gap: 6px;
  align-items: center;
}

.card_views a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

/* =============================PARTNER SECTION========================================== */

.sec_partner {
  background-color: white;
  height: 390px;
  /* position: relative; */
  border: 2px solid green;
  display: flex;
  align-items: center;
}

.partners {
  width: 1183.16px;
  height: 216.2px;
  /* position: absolute;
  top: 3561px;
  left: 128px; */
  display: flex;
  flex-direction: column;
  gap: 44px;
  /* border: 2px solid red; */
  align-items: center;
  margin: auto;
}

.trusted {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  font-family: "Lexend Deca", sans-serif;
}

.frame56 {
  width: 1183.16px;
  height: 128.2px;
  display: flex;
  gap: 48px;
}

.unilever {
  width: 114.76px;
  height: 127px;
}

.nestle {
  width: 127px;
  height: 127px;
}

.uba {
  width: 236.68px;
  height: 127px;
}

.nigerian {
  width: 210.72px;
  height: 128.2px;
}

.nhis {
  width: 127px;
  height: 127px;
}

.dangote {
  width: 127px;
  height: 127px;
}

/* =================================CONTACT SECTION========================================= */

.contact_section {
  background-color: #c4a1ff;
  border: 3px solid #000000;
  height: 947px;
  padding-top: 30px;
}

.frame1000002374 {
  /* border: 2px solid red; */
  width: 1187.39px;
  height: 845.08px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 58px;
}

.get_in_touch {
  /* border: 2px solid green; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.get_in_touch h2 {
  color: #000000;
  font-size: 35px;
  font-weight: 600;
  font-family: "Lexend Deca", sans-serif;
}

.get_in_touch p {
  color: #000000;
  font-size: 17px;
  font-weight: 600;
  font-family: "Public Sans", sans-serif;
}

.frame1000002373 {
  /* border: 2px solid red; */
  display: flex;
  gap: 189px;
}

.frame201 {
  background-color: #ffffff;
  border: 3px solid #000000;
  box-shadow: 1px 1px 4px 0px #00000040;
  width: 620.64px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding: 30px;
  border-radius: 7px;
}

.frame200 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.frame198,
.frame197 {
  /* border: 2px solid red; */
  display: flex;
  gap: 10px;
  width: 557.23px;
}

.frame187 {
  border: 3px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 83.71px 15px 11.87px;
  width: 273.64px;
}

.frame188 {
  border: 3px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 48.71px 15px 11.87px;
}

.frame189 {
  border: 3px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 50.71px 15px 11.87px;
}

.frame190 {
  border: 3px solid #000000;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 15px 48.71px 15px 11.87px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
  font-family: Public Sans;
  font-size: 17px;
  font-weight: 400;
  text-align: left;
  border: none;
}

.frame191 {
  border: 3px solid #000000;
  background-color: #ffffff;
  padding: 16.96px 370.71px 409.12px 11.87px;
  border-radius: 5px;
  border: 3px solid #000000;
  opacity: 0px;
}

.btn_send button {
  background-color: #fbaf41;
  padding: 17px 34px 17px 34px;
  border-radius: 7px;
  border: 3px solid #000000;
  opacity: 0px;
  box-shadow: 5px 5px 0px 0px #000000;
  font-family: "Lexend Deca", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}

.contact_details {
  /* border: 2px solid green; */
  width: 377.74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.phone_number_card,
.email_card,
.address_card {
  width: 377.74px;
  padding: 22px 34px 22px 34px;
  display: flex;
  align-items: center;
  gap: 25px;
  border-radius: 5px;
  border: 3px solid #000000;
  opacity: 0px;
  box-shadow: 11px 11px 0px 0px #000000;
}

.frame182 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.frame182 h3 {
  font-weight: 500;
  font-size: 29px;
  font-family: "Lexend Deca", sans-serif;
  color: #000000;
}

.frame181 {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
}

/* ==============================FOOTER SECTION=============================================== */

footer {
  background-color: #000000;
  padding: 67px 0;
}

.foot_main_con {
  /* border: 2px solid red; */
  width: 1187.39px;
  margin: auto;
  display: flex;
  align-items: end;
  gap: 62px;
}

.asem_logo5 {
  width: 270px;
  height: 264.32px;
  opacity: 0px;
}

.newsletter_card {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  gap: 42px;
  height: 179px;
  width: 505px;
  margin-top: 86px;
}

.newsletter_card p {
  color: #ffffff;
  font-family: "Public Sans", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.5px;
  /* width: 505px; */
}

.frame1000002377 {
  display: flex;
  gap: 3px;
}

input[id="email"] {
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  padding: 17px 0px 17px 10px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #000000;
}

.component1_subscribe {
  background-color: #fbaf41;
  width: 165px;
  border-radius: 7px;
  padding: 17px, 34px, 17px, 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.component1_subscribe a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
}

.frame1000002384 {
  /* border: 2px solid green; */
  display: flex;
  gap: 28px;
}

.frame1000002382 {
  /* border: 2px solid yellow; */
  display: flex;
  color: #ffffff;
  gap: 118px;
  font-family: "Lexend Deca", sans-serif;
  margin-bottom: 12px;
}

.quick_links,
.socials {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.foot_main_con h3 {
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
}

.frame1000002379 {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.frame1000002379 a {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
}

.frame167 {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  height: 93px;
  gap: 9px;
}

.frame162,
.frame161,
.frame160 {
  display: flex;
  gap: 5px;
}

.frame167 p {
  font-size: 20px;
}
